<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Assignment 3 | About</title>
  <link rel="stylesheet" href="/css/main.css">
</head>

<body>
  <header>
    <nav>
      <ul class="navList">
        <li><a href="/">Home</a></li>
        <li><a class="active" href="/about">About</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <h1>About Me</h1>
    <p>I am a human. And I made this website and the server it is coming from. So suck on that!</p>
  </main>
</body>

</html>