<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Assignment 3 | Home</title>
  <link rel="stylesheet" href="/css/main.css">
</head>

<body>
  <header>
    <nav>
      <ul class="navList">
        <li><a class="active" href="/">Home</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <h1>This is Assignment 3</h1>
    <p>Assignment 3 is all about practicing both routing and serving static files on an Express.js server.
      Learningbackend is fun! I wonder what databases are like.</p>
  </main>
</body>

</html>